{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="about" style="margin-top: 100px;">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<div class="section_title">
					<h2>About us</h2>
				</div>
			</div>
		</div>
		<div class="row about_row">
			<div class="col-lg-6">
				<div class="about_content">
					<div class="about_text">
						<p>There are full-service Travel Leaders travel agencies to
							help you travel better on your next leisure vacation or business trip.
							Travel Leaders travel agents will take the time to understand your unique travel interests
							and aspirations, until we "get you." We then use our education, first-hand travel experience
							and relationships with airlines, car, hotel, resort, tour and cruise supplier partners to
							make sure you enjoy an exceptional personalized travel experience that will create memories
							to last a lifetime.
							We are your personal travel advocate to help you with everything from getting you on the
							next flight, if your flight is canceled, to searching through all of the options to find you
							the right vacation package, cruise, shore excursions, restaurants and more. We will provide
							you with tips, advice and insights that only a trained and experienced travel professional
							can offer. We live and love travel and welcome the opportunity to show you how we can help
							you travel better.
							Travel Leaders travel agents are experts who understand where you want to go, how to get you
							there and the priceless experiences you want to have. We get you and we get you there.</p>
					</div>
					<div class="button about_button"><a href="#">read more</a></div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about_image"><img src="{% static 'images/about1.jpg' %}" alt="" style="height: 500px; width: 700px;">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}