{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="destinations" id="destinations">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<div class="section_subtitle">Simply amazing places</div>
				<div class="section_title">
					<h2>Services</h2>
				</div>
			</div>
		</div>
		<div class="row destinations_row">
			<div class="col">
				<div class="destinations_container item_grid">

					<!-- Destination -->
					<div class="destination item">
						<div class="destination_image">
							<img src="{% static 'images/destination_1.jpg' %}" alt="">
							<div class="spec_offer text-center"><a href="#">Special Offer</a></div>
						</div>
						<div class="destination_content">
							<div class="destination_title"><a href="destinations.html">Bali</a></div>
							<div class="destination_price">From $700</div>
						</div>
					</div>

					<!-- Destination -->
					<div class="destination item">
						<div class="destination_image">
							<img src="{% static 'images/destination_2.jpg' %}" alt="">
						</div>
						<div class="destination_content">
							<div class="destination_title"><a href="destinations.html">Indonesia</a></div>
							<div class="destination_price">From $650</div>
						</div>
					</div>

					<!-- Destination -->
					<div class="destination item">
						<div class="destination_image">
							<img src="{% static 'images/destination_3.jpg' %}" alt="">
						</div>
						<div class="destination_content">
							<div class="destination_title"><a href="destinations.html">San Francisco</a></div>
							<div class="destination_price">From $750</div>
						</div>
					</div>

					Destination
					<div class="destination item">
						<div class="destination_image">
							<img src="{% static 'images/destination_4.jpg' %}" alt="">
						</div>
						<div class="destination_content">
							<div class="destination_title"><a href="destinations.html">Paris</a></div>
							<div class="destination_price">From $650</div>
						</div>
					</div>

					<!-- Destination -->
					<div class="destination item">
						<div class="destination_image">
							<img src="{% static 'images/destination_5.jpg' %}" alt="">
						</div>
						<div class="destination_content">
							<div class="destination_title"><a href="destinations.html">Phi Phi Island</a></div>
							<div class="destination_price">From $600</div>
						</div>
					</div>

					<!-- Destination -->
					<div class="destination item">
						<div class="destination_image">
							<img src="{% static 'images/destination_6.jpg' %}" alt="">
						</div>
						<div class="destination_content">
							<div class="destination_title"><a href="destinations.html">Mykonos</a></div>
							<div class="destination_price">From $600</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>


{% endblock content %}